<h2>{{Titulo}} <small>{{TituloAccionABMC[AccionABMC]}}</small></h2>
<!-- Formulario Filtro de búsqueda, se ve cuando la AccionABMC es "L"(busqueda/listado)-->
<form
  name="FormBusqueda"
  [formGroup]="FormBusqueda"
  class="bg-light"
  *ngIf="AccionABMC == 'L'"
>
  <div class="form-group row">
    <label class="col-form-label col-sm-2 offset-sm-1">
      Razon Social:
    </label>
    <div class="col-sm-3">
      <input
        type="text"
        name="RazonSocial"
        class="form-control"
        formControlName="RazonSocial"
      />
    </div>

  <!-- Botones -->
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" (click)="Pagina=1;Buscar();">
      <span class="fas fa-search"> </span> Buscar
    </button>
    &nbsp;
    <button type="button" class="btn btn-primary" (click)="Agregar()">
      <span class="fas fa-plus"> </span>
      Agregar
    </button>
  </div>
</form>

<!-- Tabla de resutados de busqueda y Paginador-->
<div id="divTablaResultados" *ngIf="AccionABMC == 'L' &&  Items?.length > 0">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Id Empresa</th>
        <th class="text-center">Razon Social</th>
        <th class="text-center">Cantidad Empleados</th>
        <th class="text-center">Fecha Fundacion</th>
        <th class="text-center text-nowrap">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let empresa of Empresas">
        <td>{{empresa.IdEmpresa}}</td>
        <td>{{empresa.RazonSocial| uppercase}}</td>
        <td>{{empresa.CantidadEmpleados}}</td>
        <td>{{empresa.FechaFundacion| date:'dd/MM/yyyy'}}</td>

        <td class="text-center text-nowrap">
          <button
            type="button"
            class="btn btn-sm btn-outline-primary"
            title="Consultar"
            (click)="Consultar(item)"
          >
            <span class="fas fa-eye"></span>
          </button>

          <button
            type="button"
            class="btn btn-sm btn-outline-primary"
            title="Modificar"
            (click)="Modificar(item)"
          >
            <span class="fas fa-pencil-alt"></span>
          </button>
        </td>

        </td>
      </tr>
    </tbody>
  </table>

</div>

<!--No se encontraron registros-->
<div
  id="divMsjFormBusqueda"
  class="alert alert-info"
  *ngIf="AccionABMC == 'L' && Items?.length== 0"
>
  <span class="fas fa-exclamation-sign"></span>{{Mensajes['SD']}}
  <!-- texto: No se encontraron registros -->
</div>

<!-- Registro en Alta,Modificacion o Consulta -->
<form name="FormRegistro" *ngIf="AccionABMC != 'L'" [formGroup]="FormRegistro">
  <fieldset [disabled]="AccionABMC==='C'">

    <!--campo IdEmpresa-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="IdEmpresa"
        >Id Empresa</label
      >
      <div class="col-sm-6">
        <select
          name="IdEmpresa"
          [attr.disabled]="true"
          class="form-control"
          formControlName="IdEmpresa"
        >
          <option *ngFor="let empresa of OpcionesIdEmpresa" [ngValue]="empresa.IdEmpresa">
            ‌{{ empresa.RazonSocial }}
          </option>
        </select>
      </div>
    </div>

    <!--campo Razon Social-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="RazonSocial">
        RazonSocial <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control text-uppercase"
          formControlName="RazonSocial"
          [ngClass]="{'is-invalid':(FormRegistro.controls.RazonSocial.touched || submitted) && FormRegistro.controls.RazonSocial.errors}"
        />
        <span
          class="text-danger"
          *ngIf="(FormRegistro.controls.RazonSocial.touched || submitted) && FormRegistro.controls.RazonSocial.errors && FormRegistro.controls.RazonSocial.errors.required "
        >
          Dato requerido
        </span>
        <span
          class="text-danger"
          *ngIf="(FormRegistro.controls.RazonSocial.touched || submitted) && (FormRegistro.controls.RazonSocial.errors?.minlength || FormRegistro.controls.RazonSocial.errors?.maxlength)"
          >Dato texto de 5 a 55 caracteres</span
        >
      </div>
    </div>

    <!--campo precio-->
    <div class="row form-group">
      <label class="col-form-label col-sm-2 offset-sm-2" for="Precio">
        Precio <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          type="text"
          name="Precio"
          class="form-control"
          formControlName="Precio"
          [ngClass]="{'is-invalid': (FormRegistro.controls.Precio.touched || submitted) && FormRegistro.controls.Precio.errors} "
        />
        <span
          class="text-danger"
          *ngIf="(FormRegistro.controls.Nombre.touched || submitted) && FormRegistro.controls.Precio.errors && FormRegistro.controls.Precio.errors.required "
        >
          Dato requerido
        </span>
        <span
          class="text-danger"
          *ngIf="(FormRegistro.controls.Nombre.touched || submitted) && FormRegistro.controls.Precio.errors?.pattern"
        >
          Dato numérico, 1 a 7 dígitos.
        </span>
      </div>
    </div>

    <!--campo CantidadEmpleados-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="CantidadEmpleados">
        CantidadEmpleados <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          type="text"
          name="CantidadEmpleados"
          class="form-control"
          formControlName="CantidadEmpleados"
          [ngClass]="{'is-invalid': (FormRegistro.controls.CantidadEmpleados.touched || submitted)  && FormRegistro.controls.CantidadEmpleados.errors}"
        />
        <span
          class="text-danger"
          *ngIf="(FormRegistro.controls.CantidadEmpleados.touched || submitted) && FormRegistro.controls.CantidadEmpleados.errors && FormRegistro.controls.CantidadEmpleados.errors.required "
        >
          Dato requerido
        </span>
        <span
          class="text-danger"
          *ngIf="(FormRegistro.controls.CantidadEmpleados.touched || submitted) && FormRegistro.controls.CantidadEmpleados.errors?.pattern"
        >
          Dato numérico, 1 a 10 dígitos.
        </span>
      </div>
    </div>

    <!--campo codigodebarra-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2" for="CodigoDeBarra">
        Codigo De Barra <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          type="text"
          name="CodigoDeBarra"
          class="form-control"
          formControlName="CodigoDeBarra"
          [ngClass]="{'is-invalid': (FormRegistro.controls.CodigoDeBarra.touched || submitted) && FormRegistro.controls.CodigoDeBarra.errors}"
        />
        <span
          class="text-danger"
          *ngIf="(FormRegistro.controls.CodigoDeBarra.touched || submitted) && FormRegistro.controls.CodigoDeBarra.errors && FormRegistro.controls.CodigoDeBarra.errors.required "
        >
          Dato requerido
        </span>
        <span
          class="text-danger"
          *ngIf="(FormRegistro.controls.Nombre.touched || submitted) && FormRegistro.controls.CodigoDeBarra.errors?.pattern"
        >
          Dato numérico, 1 a 13 dígitos.
        </span>
      </div>
    </div>

    <!--campo FechaFundacion-->
    <div class="form-group row">
      <label class="col-form-label col-sm-2 offset-sm-2">
        Fecha de Fundacion <span class="text-danger">*</span>
      </label>
      <div class="col-sm-6">
        <input
          class="form-control"
          name="FechaFundacion"
          formControlName="FechaFundacion"
          [ngClass]="{'is-invalid': (FormRegistro.controls.FechaFundacion.touched || submitted)  && FormRegistro.controls.FechaFundacion.errors}"
        />
        <span
          class="text-danger"
          *ngIf="(FormRegistro.controls.FechaFundacion.touched || submitted) && FormRegistro.controls.FechaFundacion.errors && FormRegistro.controls.FechaFundacion.errors.required "
        >
          Dato requerido
        </span>
        <span
          class="text-danger"
          *ngIf="(FormRegistro.controls.FechaFundacion.touched || submitted) && FormRegistro.controls.FechaFundacion.errors?.pattern"
        >
          Dato fecha, formato dd/mm/aaaa.
        </span>
      </div>
    </div>

  </fieldset>



  <!-- Botones Grabar, Cancelar/Volver' -->
  <div class="row justify-content-center">
    <button
      type="button"
      class="btn btn-primary"
      (click)="Grabar()"
      *ngIf=" AccionABMC == 'A'  || AccionABMC == 'M' "
    >
      <span class="fas fa-check"></span> Grabar
    </button>
    &nbsp;
    <button type="button" class="btn btn-warning" (click)="Volver()">
      <span class="fas fa-undo"></span>
      {{AccionABMC == 'A' || AccionABMC == 'M' ? 'Cancelar' : 'Volver'}}
    </button>
  </div>

  <!--texto: Revisar los datos ingresados...-->
  <div
    id="divMsjFormRegistro"
    class="row alert alert-danger"
    *ngIf="submitted && FormRegistro.invalid"
  >
    <span class="fas fa-exclamation-sign"></span>{{Mensajes['RD']}}
  </div>
</form>
